[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reservoirpy = "*"
perceval-quandela = "~=0.9.1"
numpy = "*"
jupyter = "*"
notebook = "*"
ipykernel = "*"
scikit-learn = "*"
matplotlib = "*"
ipywidgets = "*"
lo-reservoir = {file = ".", editable = true}
pytest = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
